

<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <ul class="navbar-nav">


    <div class = "navbar-header">
      <a class = "navbar-brand" href = "https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?Subject=CSC&CatalogNbr=436" target="_blank"> </a>
    </div>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/flightInfo']">FlightInfo</a>
    </li>
  </ul>
</nav>
<br />
<br />
<br />
<router-outlet></router-outlet>
